.result {
  height: 60px;
  background-color: Transparent;
  width: 100%;
}

.result p {
  color: rgb(100, 100, 100);
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  border: 4px solid rgb(100, 100, 100);
  
}

button {
  color: rgb(102, 102, 102);
  background-color:transparent;
  border-color: rgb(100, 100, 100);
  width: 25%;
  height: 60px;
  font-size: 30px;
}
